Repository paiml/simular: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, edd-check, emc-validate, yaml-lint, check-satd

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy (warnings as errors)
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo Test
  entry: cargo test --lib
  language: system
  pass_filenames: false

edd-check:
  name: EDD Compliance Check
  entry: cargo run --bin simular -- emc-check
  language: system
  pass_filenames: true

emc-validate:
  name: EMC Schema Validation
  entry: python3 -c "import yaml; import sys; yaml.safe_load(open(sys.argv[1]))"
  language: system
  pass_filenames: true

yaml-lint:
  name: YAML Lint
  entry: python3 -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system
  pass_filenames: true

check-satd:
  name: Check for SATD (TODO/FIXME/HACK)
  entry: bash -c 'if grep -rn "TODO\|FIXME\|HACK\|XXX" --include="*.rs" src/; then echo "SATD found! Create GitHub issues instead."; exit 1; fi'
  language: system
  pass_filenames: false

fix: Add schemas directory to Docker wasm-builder (Refs ORBIT-001)
  Dockerfile
Due: none

feat: v0.2.0 - 100% GUI/pixel coverage, WASM demos, Makefile serve targets (Refs PROBAR-100)
  Cargo.lock
  Cargo.toml
  Makefile
  docs/adr/0003-zero-javascript-wasm.md
  docs/roadmaps/roadmap.yaml
  docs/specifications/cov-001-spec.md
  docs/specifications/demo-architecture-v2.md
  docs/specifications/unified-rewrite-demos-jugar-probar-first.md
  examples/experiments/bay_area_tsp.yaml
  examples/experiments/orbit_earth_sun.yaml
  src/demos/mod.rs
  src/demos/orbit_engine.rs
  src/demos/tsp_engine.rs
  src/lib.rs
  src/orbit/wasm.rs
  src/renderers/mod.rs
  src/renderers/tui.rs
  src/renderers/wasm.rs
  src/tui/orbit_app.rs
  tests/probar_demos.rs
  tests/probar_pixel_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-test, edd-check, yaml-lint, check-satd

docs: Update book for v0.2.0 - examples and WASM serve commands (Refs PROBAR-100)
  book/src/introduction.md
  book/src/orbit_demo.md
  book/src/quick_start.md
  book/src/tsp_grasp_demo.md
Due: none

perf: ZRAM build acceleration and faster test execution (Refs ORBIT-001)
  .cargo/config.toml
  Makefile
Due: none

feat: Zero-JS architecture for WASM demos (Refs ORBIT-001)
  src/demos/mod.rs
  src/demos/orbit_wasm_app.rs
  web/index.html
  web/tsp.html
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: Add ComputeBlocks integration and 95% coverage (Refs SIMULAR-CB-001)
  Cargo.lock
  Cargo.toml
  Makefile
  book/src/api_reference.md
  book/src/core_concepts.md
  book/src/domain_ml.md
  book/src/domain_monte_carlo.md
  book/src/domain_optimization.md
  book/src/domain_physics.md
  book/src/engine_jidoka.md
  book/src/engine_replay.md
  book/src/engine_rng.md
  book/src/introduction.md
  book/src/orbit_demo.md
  book/src/quick_start.md
  book/src/scenario_climate.md
  book/src/scenario_epidemic.md
  book/src/scenario_pendulum.md
  book/src/scenario_portfolio.md
  book/src/scenario_rocket.md
  book/src/scenario_satellite.md
  book/src/tsp_grasp_demo.md
  src/bin/orbit_tui.rs
  src/tui/compute_blocks.rs
  src/tui/mod.rs
  src/tui/orbit_app.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

test: 100% coverage for compute_blocks.rs, update coverage exclusions (Refs ORBIT-001)
  Makefile
  src/tui/compute_blocks.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

test: Add property tests for scenarios and orbit modules (Refs ORBIT-001)
  src/cli/output.rs
  src/orbit/physics.rs
  src/orbit/units.rs
  src/scenarios/climate.rs
  src/scenarios/epidemic.rs
  src/scenarios/pendulum.rs
  src/scenarios/portfolio.rs
  src/scenarios/rocket.rs
  src/scenarios/satellite.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

test: Add probar TUI tests with presentar-test integration (Refs PROBAR-100)
  Cargo.lock
  Cargo.toml
  tests/probar_compute_blocks.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: Formatting fixes and probar test correction (Refs PROBAR-100)
  src/bin/orbit_tui.rs
  src/demos/orbit_engine.rs
  src/demos/orbit_wasm_app.rs
  src/demos/tsp_engine.rs
  src/lib.rs
  src/scenarios/epidemic.rs
  src/tui/orbit_app.rs
  tests/probar_compute_blocks.rs
  tests/probar_demos.rs
  tests/probar_pixel_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

chore: bump version to 0.3.0 (Refs SIMULAR-030)
  Cargo.lock
  Cargo.toml
Due: none

docs: add Stack Documentation Search section to CLAUDE.md
  CLAUDE.md
Due: none

docs: enhance Stack Documentation Search with proactive instructions (Refs PMAT-RAG)
  CLAUDE.md
Due: none

docs: add RAG oracle auto-update instructions to CLAUDE.md
  CLAUDE.md
Due: none

chore: add pmat query code search to CLAUDE.md, migrate to PMAT v2.217.0
  .gitignore
  .pmat/project.toml
  CLAUDE.md
Due: none

chore: add pmat query code search to CLAUDE.md, migrate to PMAT v2.217.0
  .gitignore
  CLAUDE.md
Due: none

fix(deps): reduce transitive deps from 422 to 249 for CB-081 compliance (Refs COV-001)
  .pmat-gates.toml
  Cargo.lock
  Cargo.toml
  Makefile
  src/cli/tests.rs
  src/edd/v2.rs
  tests/probar_integration/probar_compute_blocks.rs
  tests/probar_integration/probar_orbit.rs
  tests/probar_integration/probar_pixel_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix(deps): reduce transitive deps from 422 to 249 for CB-081 compliance (Refs COV-001)
  .pmat-gates.toml
  .pmat/baseline.json
  .pmat/project.toml
  Cargo.lock
  Cargo.toml
  Makefile
  src/cli/tests.rs
  src/edd/v2.rs
  tests/probar_integration/probar_compute_blocks.rs
  tests/probar_integration/probar_orbit.rs
  tests/probar_integration/probar_pixel_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

refactor: split tsp_grasp.rs and ml.rs into directory modules for File Health compliance (Refs COV-001)
  src/demos/tsp_grasp.rs
  src/demos/tsp_grasp/mod.rs
  src/demos/tsp_grasp/quality_tests.rs
  src/demos/tsp_grasp/tests.rs
  src/domains/ml.rs
  src/domains/ml/jidoka.rs
  src/domains/ml/mod.rs
  src/domains/ml/multi_turn.rs
  src/domains/ml/prediction.rs
  src/domains/ml/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: Add SVG renderer and keyframes export for rmedia integration (Refs #11)
  .pmat/baseline.json
  .pmat/project.toml
  CHANGELOG.md
  book/src/SUMMARY.md
  book/src/rendering_svg.md
  src/cli/args.rs
  src/cli/commands.rs
  src/cli/mod.rs
  src/demos/tsp_grasp/mod.rs
  src/demos/tsp_grasp/tests.rs
  src/domains/ml/mod.rs
  src/renderers/keyframes.rs
  src/renderers/mod.rs
  src/renderers/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: Add SVG renderer and keyframes export for rmedia integration (Refs #11)
  CHANGELOG.md
  book/src/SUMMARY.md
  book/src/rendering_svg.md
  src/cli/args.rs
  src/cli/commands.rs
  src/cli/mod.rs
  src/demos/tsp_grasp/mod.rs
  src/demos/tsp_grasp/tests.rs
  src/domains/ml/mod.rs
  src/renderers/keyframes.rs
  src/renderers/mod.rs
  src/renderers/svg.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: Add bouncing balls physics scenario with elastic collisions
  .pmat/baseline.json
  src/cli/commands.rs
  src/scenarios/bouncing_balls.rs
  src/scenarios/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: Add bouncing balls physics scenario with elastic collisions
  src/cli/commands.rs
  src/scenarios/bouncing_balls.rs
  src/scenarios/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

chore: bump simular to 0.3.1 (Refs stack-release)
  Cargo.lock
  Cargo.toml
Due: none

chore: bump simular to 0.3.1 (Refs stack-release)
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  edd-check: any of: examples/experiments/.*\.yaml$
  emc-validate: any of: \.emc\.yaml$
  yaml-lint: any of: \.(yaml|yml)$
  check-satd: any of: \.rs$
