Repository paiml/simular: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, edd-check, emc-validate, yaml-lint, check-satd

.pre-commit-config.yaml:

# Pre-commit hooks for EDD compliance
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo Clippy (warnings as errors)
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: Cargo Test
        entry: cargo test --lib
        language: system
        types: [rust]
        pass_filenames: false

      # EDD Compliance Hooks
      - id: edd-check
        name: EDD Compliance Check
        entry: cargo run --bin simular -- emc-check
        language: system
        files: 'examples/experiments/.*\.yaml$'
        pass_filenames: true

      - id: emc-validate
        name: EMC Schema Validation
        entry: python3 -c "import yaml; import sys; yaml.safe_load(open(sys.argv[1]))"
        language: system
        files: '\.emc\.yaml$'
        pass_filenames: true

      # YAML syntax validation
      - id: yaml-lint
        name: YAML Lint
        entry: python3 -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        types: [yaml]
        pass_filenames: true

      # Documentation checks
      - id: check-satd
        name: Check for SATD (TODO/FIXME/HACK)
        entry: bash -c 'if grep -rn "TODO\|FIXME\|HACK\|XXX" --include="*.rs" src/; then echo "SATD found! Create GitHub issues instead."; exit 1; fi'
        language: system
        types: [rust]
        pass_filenames: false

# Configuration
default_stages: [commit]
fail_fast: false

docs: Add OR-001 Bay Area TSP specification (Refs OR-001)
  docs/specifications/simple-or-example.md
Due: none

feat: OR-001-01/03/04 TspInstanceYaml with YAML-first architecture (Refs OR-001)
  docs/roadmaps/roadmap.yaml
  docs/specifications/simple-or-example.md
  examples/experiments/bay_area_tsp.yaml
  src/demos/mod.rs
  src/demos/tsp_instance.rs
Due: cargo-fmt, cargo-clippy, cargo-test, edd-check, yaml-lint, check-satd

test: OR-001-05 Probar E2E tests for TSP YAML-first architecture (Refs OR-001)
  tests/probar_tsp.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

chore: Update OR-001 roadmap status - subtasks 01-05 completed (Refs OR-001)
  docs/roadmaps/roadmap.yaml
Due: yaml-lint

test: Add from_yaml_file success path test for tsp_instance (Refs OR-001)
  src/demos/tsp_instance.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: OR-001-06 WASM bindings for TspInstanceYaml (Refs OR-001)
  src/demos/tsp_instance.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: OR-001-07 Integrate TspGraspDemo with TspInstanceYaml (Refs OR-001)
  docs/specifications/simple-or-example.md
  src/demos/tsp_grasp.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: OR-001-08 TUI YAML file loading support (Refs OR-001)
  src/tui/tsp_app.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: OR-001-09 Add fromYaml to WasmTspGrasp (Refs OR-001)
  src/demos/tsp_grasp.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

test: OR-001-10 Probar E2E unified architecture tests (Refs OR-001)
  tests/probar_tsp.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

chore: Mark OR-001 complete in roadmap (Refs OR-001)
  docs/roadmaps/roadmap.yaml
Due: yaml-lint

fix: Clippy lint fixes for WASM modules (Refs OR-001)
  src/demos/tsp_grasp.rs
  src/demos/tsp_instance.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: Use BigInt for u64 seed in WASM JavaScript bindings (Refs OR-001)
  web/tsp.html
Due: none

revert: Remove JavaScript modifications from tsp.html (Refs OR-001)
  web/tsp.html
Due: none

feat(tsp): Add 30 Probar E2E WASM tests for WasmTspGrasp (Refs OR-001)
  docs/specifications/simple-or-example.md
  src/demos/tsp_grasp.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat(tsp): Add [cities] and [miles] labels to TUI and WASM (Refs OR-001)
  docs/specifications/simple-or-example.md
  src/bin/tsp_tui.rs
  src/demos/tsp_grasp.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat(tui): Add YAML file loading via command-line arg (Refs OR-001)
  src/bin/tsp_tui.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix(tui): YAML-FIRST - Default to bay_area_tsp.yaml (Refs OR-001)
  src/bin/tsp_tui.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat(tsp): Zero-JS WASM app, GUI coverage, timing fix (Refs OR-001)
  Cargo.lock
  Cargo.toml
  examples/experiments/bay_area_tsp.yaml
  examples/gui_coverage_demo.rs
  src/bin/tsp_tui.rs
  src/demos/mod.rs
  src/demos/tsp_grasp.rs
  src/demos/tsp_instance.rs
  src/demos/tsp_wasm_app.rs
  src/edd/gui_coverage.rs
  src/edd/mod.rs
  src/tui/tsp_app.rs
  tests/probar_tsp.rs
  web/tsp-minimal.html
  web/tsp.html
Due: cargo-fmt, cargo-clippy, cargo-test, edd-check, yaml-lint, check-satd

refactor: Reduce complexity, add Popperian falsifiability (Refs PMAT-001)
  .pmat-metrics.toml
  Cargo.lock
  Cargo.toml
  HYPOTHESIS.md
  benches/simulation_benchmarks.rs
  examples/tsp_grasp_demo.rs
  flake.nix
  src/cli/output.rs
  src/demos/tsp_wasm_app.rs
  src/orbit/render.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd
