Repository paiml/simular: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, edd-check, emc-validate, yaml-lint, check-satd

.pre-commit-config.yaml:

# Pre-commit hooks for EDD compliance
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo Clippy (warnings as errors)
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: Cargo Test
        entry: cargo test --lib
        language: system
        types: [rust]
        pass_filenames: false

      # EDD Compliance Hooks
      - id: edd-check
        name: EDD Compliance Check
        entry: cargo run --bin simular -- emc-check
        language: system
        files: 'examples/experiments/.*\.yaml$'
        pass_filenames: true

      - id: emc-validate
        name: EMC Schema Validation
        entry: python3 -c "import yaml; import sys; yaml.safe_load(open(sys.argv[1]))"
        language: system
        files: '\.emc\.yaml$'
        pass_filenames: true

      # YAML syntax validation
      - id: yaml-lint
        name: YAML Lint
        entry: python3 -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        types: [yaml]
        pass_filenames: true

      # Documentation checks
      - id: check-satd
        name: Check for SATD (TODO/FIXME/HACK)
        entry: bash -c 'if grep -rn "TODO\|FIXME\|HACK\|XXX" --include="*.rs" src/; then echo "SATD found! Create GitHub issues instead."; exit 1; fi'
        language: system
        types: [rust]
        pass_filenames: false

# Configuration
default_stages: [commit]
fail_fast: false

fix: checkout sibling path dep (presentar) in nightly workflow (Refs #20)
  .github/workflows/nightly.yml
Due: yaml-lint

fix: checkout sibling path dep (presentar) in nightly workflow (Refs #20)
  .github/workflows/nightly.yml
  .pmat/baseline.json
Due: yaml-lint

fix: checkout presentar inside workspace, symlink to expected path (Refs PMAT-006)
  .github/workflows/nightly.yml
  .pmat/baseline.json
Due: yaml-lint

fix: checkout presentar inside workspace, symlink to expected path (Refs PMAT-006)
  .github/workflows/nightly.yml
Due: yaml-lint

fix: return non-zero exit code for missing args and unknown commands
  .pmat/baseline.json
  src/cli/args.rs
  src/cli/commands.rs
  src/cli/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: return non-zero exit code for missing args and unknown commands
  src/cli/args.rs
  src/cli/commands.rs
  src/cli/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: add CI badge to README
  .pmat/baseline.json
  README.md
Due: none

fix: add CI badge to README
  README.md
Due: none

fix: remove machine-specific .cargo/config.toml (Refs PMAT-149)
  .cargo/config.toml
  .gitignore
  .pmat/baseline.json
Due: none

fix: remove machine-specific .cargo/config.toml (Refs PMAT-149)
  .cargo/config.toml
  .gitignore
Due: none

feat: add test + coverage + security CI jobs for repo-score A+ (Refs PMAT-149)
  .github/workflows/ci.yml
  .pmat/baseline.json
Due: yaml-lint

feat: add test + coverage + security CI jobs for repo-score A+ (Refs PMAT-149)
  .github/workflows/ci.yml
Due: yaml-lint

feat: add .editorconfig for repo hygiene score (Refs PMAT-149)
  .editorconfig
Due: none

fix: checkout presentar sibling dep in CI test/coverage jobs
  .github/workflows/ci.yml
Due: yaml-lint

fix: use workspace-relative checkout paths for presentar sibling dep
  .github/workflows/ci.yml
Due: yaml-lint

fix: add missing README badges/sections per repo-standards §2.2 (Refs PMAT-149)
  README.md
Due: none

fix: add docs.rs badge + cookbook link per §2.2 (Refs PMAT-149)
  README.md
Due: none

fix: replace fake cookbook link with real examples/ directory (Refs PMAT-149)
  README.md
Due: none

fix: CB-500 add exclude to Cargo.toml for smaller crate publishes (Refs PMAT-149)
  Cargo.toml
Due: none

chore: pmat comply migrate (Refs PMAT-149)
  .pmat-work/PMAT-006/contract.json
Due: none

fix: CB-500 add all 7 critical patterns to Cargo.toml exclude (Refs PMAT-149)
  Cargo.toml
Due: none

feat: add checkpoint, loss-functions, and gradient provable contracts for CB-1202 compliance
  contracts/checkpoint-v1.yaml
  contracts/gradient-v1.yaml
  contracts/loss-functions-v1.yaml
Due: yaml-lint

fix: remap CB-1201 unfalsifiable contract tests to existing test functions
  contracts/checkpoint-v1.yaml
  contracts/gradient-v1.yaml
  contracts/loss-functions-v1.yaml
Due: yaml-lint

feat: add provable-contracts-macros dependency and contract annotation (Refs PMAT-149)
  Cargo.lock
  Cargo.toml
  src/tui/compute_blocks.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

chore: remove .bak cruft file for repo-score hygiene (Refs #26)
  .gitignore
  docs/roadmaps/roadmap.yaml.bak
Due: none

chore: add .clippy.toml configuration (CB-503)
  .clippy.toml
Due: none

ci: migrate to self-hosted runners for sovereignty (§2.1.1)
  .github/workflows/ci.yml
Due: yaml-lint

ci: migrate to self-hosted runners for sovereignty (§2.1.1) (#27)
  .github/workflows/ci.yml
Due: yaml-lint

ci: remove unified gate from ci.yml (badge fix)
  .github/workflows/ci.yml
Due: yaml-lint

ci: replace per-repo CI with sovereign-ci.yml caller
  .github/workflows/ci.yml
Due: yaml-lint

ci: adopt sovereign-ci.yml reusable workflow
  .github/workflows/ci.yml
Due: yaml-lint

enforce: add AllImplemented contract binding enforcement (PMAT-078)
  Cargo.toml
  build.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

ci: add keyword annotations for pmat repo-score detection
  .github/workflows/ci.yml
Due: yaml-lint

ci: add nightly criterion benchmarks via sovereign-ci
  .github/workflows/nightly-bench.yml
Due: yaml-lint

ci: add PR authorization gate for org-only PRs
  .github/workflows/pr-gate.yml
Due: yaml-lint

chore: update deny.toml — explicit advisory ignores, CDLA-Permissive-2.0, allow-org
  deny.toml
Due: none

feat: add contract-trait enforcement test (provable-contracts Section 23)
  Cargo.toml
  tests/contract_traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

feat: expand contract trait enforcement from 2 to 7 traits
  tests/contract_traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd
