Repository paiml/simular: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, edd-check, emc-validate, yaml-lint, check-satd

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy (warnings as errors)
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo Test
  entry: cargo test --lib
  language: system
  pass_filenames: false

edd-check:
  name: EDD Compliance Check
  entry: cargo run --bin simular -- emc-check
  language: system
  pass_filenames: true

emc-validate:
  name: EMC Schema Validation
  entry: python3 -c "import yaml; import sys; yaml.safe_load(open(sys.argv[1]))"
  language: system
  pass_filenames: true

yaml-lint:
  name: YAML Lint
  entry: python3 -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system
  pass_filenames: true

check-satd:
  name: Check for SATD (TODO/FIXME/HACK)
  entry: bash -c 'if grep -rn "TODO\|FIXME\|HACK\|XXX" --include="*.rs" src/; then echo "SATD found! Create GitHub issues instead."; exit 1; fi'
  language: system
  pass_filenames: false

docs: Improve all PMAT scores to A grade (Refs PMAT-002)
  .github/workflows/ci.yml
  .pmat-gates.toml
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  docs/STATISTICS.md
  docs/adr/0001-edd-methodology.md
  docs/adr/0002-symplectic-integrators.md
  docs/adr/0003-zero-javascript-wasm.md
  docs/adr/0004-toyota-production-system.md
  docs/adr/README.md
  docs/data/DATACARD.md
  docs/data/README.md
  dvc.yaml
  mutants.toml
Due: yaml-lint

feat: Add DVC infrastructure and benchmark metrics (Refs ORBIT-001)
  .dvc/.gitignore
  .dvc/config
  .dvcignore
  data/raw/california_cities.yaml
  data/raw/california_cities.yaml.dvc
  docker-compose.yml
  metrics/monte_carlo_benchmark.json
  metrics/orbit_benchmark.json
  metrics/tsp_benchmark.json
  params/default.yaml
  scripts/compare_benchmarks.py
Due: yaml-lint

docs: Add effect size and dataset documentation (Refs ORBIT-001)
  DATASHEET.md
  EFFECT_SIZES.md
  scripts/compare_benchmarks.py
Due: none

docs: Add benchmark README with effect size documentation (Refs ORBIT-001)
  benches/README.md
  benches/simulation_benchmarks.rs
  docs/effect-sizes.md
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: Correct benchmark API usage (Refs ORBIT-001)
  benches/simulation_benchmarks.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

docs: Add effect sizes (Cohen's d) to README (Refs ORBIT-001)
  README.md
Due: none

feat: Add reproducibility and pre-registration infrastructure (Refs ORBIT-001)
  .cargo/config.toml
  .gitattributes
  SECURITY.md
  docs/PRE_REGISTRATION.md
  rust-toolchain.toml
Due: none

feat: Add community and environment configuration (Refs ORBIT-001)
  .devcontainer/devcontainer.json
  .tool-versions
  CODE_OF_CONDUCT.md
  mise.toml
Due: none

feat: Enhance Docker and GitHub configuration (Refs ORBIT-001)
  .dockerignore
  .github/CODEOWNERS
  .github/FUNDING.yml
  Dockerfile
Due: yaml-lint

docs: Add reproducibility and seed documentation (Refs ORBIT-001)
  build.rs
  docs/REPRODUCIBILITY.md
  docs/SEEDS.md
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

ci: Add Docker build and dependabot config (Refs ORBIT-001)
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: yaml-lint

docs: Add governance and power analysis (Refs ORBIT-001)
  GOVERNANCE.md
  docs/POWER_ANALYSIS.md
Due: none

spec: Add EDD v2 unified specification (Refs ORBIT-001)
  docs/specifications/EDD-spec-unified.md
Due: none

feat: Add TUI/WASM parity with probar integration (Refs ORBIT-001)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile
  book/src/tsp_grasp_demo.md
  build.rs
  docs/roadmaps/roadmap.yaml
  docs/specifications/EDD-spec-unified.md
  docs/specifications/unified-rewrite-demos-jugar-probar-first.md
  rust-toolchain.toml
  schemas/demo.schema.json
  schemas/emc.schema.json
  schemas/experiment.schema.json
  src/cli/args.rs
  src/cli/commands.rs
  src/cli/output.rs
  src/cli/tests.rs
  src/config/mod.rs
  src/demos/engine.rs
  src/demos/mod.rs
  src/demos/tsp_grasp.rs
  src/demos/tsp_instance.rs
  src/demos/tsp_wasm_app.rs
  src/edd/gui_coverage.rs
  src/edd/mod.rs
  src/edd/prover.rs
  src/edd/runner.rs
  src/edd/style.rs
  src/edd/v2.rs
  src/edd/validation.rs
  src/visualization/tui.rs
  tests/probar_orbit.rs
  tests/probar_tsp.rs
  web/tsp-minimal.html
  web/tsp.html
Due: cargo-fmt, cargo-clippy, cargo-test, yaml-lint, check-satd

fix: Format code and fix Dockerfile WASM build (Refs ORBIT-001)
  Dockerfile
  benches/simulation_benchmarks.rs
  examples/gui_coverage_demo.rs
  examples/tsp_grasp_demo.rs
  src/bin/orbit_tui.rs
  src/bin/tsp_tui.rs
  src/cli/output.rs
  src/cli/tests.rs
  src/demos/kingmans_hockey.rs
  src/demos/mod.rs
  src/demos/monte_carlo_pi.rs
  src/demos/tsp_grasp.rs
  src/demos/tsp_instance.rs
  src/demos/tsp_wasm_app.rs
  src/edd/audit.rs
  src/edd/equation.rs
  src/edd/experiment.rs
  src/edd/gui_coverage.rs
  src/edd/loader.rs
  src/edd/mod.rs
  src/edd/model_card.rs
  src/edd/prover.rs
  src/edd/report.rs
  src/edd/runner.rs
  src/edd/style.rs
  src/edd/tps.rs
  src/edd/v2.rs
  src/edd/validation.rs
  src/orbit/render.rs
  src/tui/tests.rs
  src/tui/tsp_app.rs
  src/visualization/tui.rs
  src/visualization/web.rs
  tests/probar_tsp.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: Install wasm-pack via installer script in Docker (Refs ORBIT-001)
  Dockerfile
Due: none

fix: Update Rust version in Dockerfile to 1.85.0 (Refs ORBIT-001)
  Dockerfile
Due: none

fix: Copy benches/examples/tests to Docker wasm-builder stage (Refs ORBIT-001)
  Dockerfile
Due: none

fix: Add clang/lld to Docker wasm-builder for zstd-sys (Refs ORBIT-001)
  Dockerfile
Due: none

fix: Revert is_multiple_of to modulo operator (Refs ORBIT-001)
  src/demos/kepler_orbit.rs
  src/demos/littles_law_factory.rs
  src/demos/tsp_wasm_app.rs
  src/lib.rs
  src/replay/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  edd-check: any of: examples/experiments/.*\.yaml$
  emc-validate: any of: \.emc\.yaml$
  yaml-lint: any of: \.(yaml|yml)$
  check-satd: any of: \.rs$
