Repository paiml/simular: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, edd-check, emc-validate, yaml-lint, check-satd

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy (warnings as errors)
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo Test
  entry: cargo test --lib
  language: system
  pass_filenames: false

edd-check:
  name: EDD Compliance Check
  entry: cargo run --bin simular -- emc-check
  language: system
  pass_filenames: true

emc-validate:
  name: EMC Schema Validation
  entry: python3 -c "import yaml; import sys; yaml.safe_load(open(sys.argv[1]))"
  language: system
  pass_filenames: true

yaml-lint:
  name: YAML Lint
  entry: python3 -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system
  pass_filenames: true

check-satd:
  name: Check for SATD (TODO/FIXME/HACK)
  entry: bash -c 'if grep -rn "TODO\|FIXME\|HACK\|XXX" --include="*.rs" src/; then echo "SATD found! Create GitHub issues instead."; exit 1; fi'
  language: system
  pass_filenames: false

feat: expand contract trait impls from 7/13 to 13/13
  tests/contract_traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: replace tautological gradient precondition with real domain checks (Refs PMAT-131)
  .pmat-baseline.json
  .pmat/baseline.json
  contracts/gradient-v1.yaml
  src/generated_contracts.rs
Due: cargo-fmt, cargo-clippy, cargo-test, yaml-lint, check-satd

fix: regenerate contracts with fixed pv codegen — CB-1211 compliance (Refs PMAT-131)
  contracts/.pv/cache/lint/096dd027c3e0706d.json
  contracts/.pv/cache/lint/1cc68ff0175d1d36.json
  contracts/.pv/cache/lint/3ea64e59f6abdfc1.json
  contracts/.pv/cache/lint/42450ecb03d3a109.json
  contracts/.pv/cache/lint/50e0cd97182922aa.json
  contracts/.pv/cache/lint/7db240c4a8096efa.json
  contracts/.pv/cache/lint/7f337370a1f286ae.json
  contracts/.pv/cache/lint/88d9156960befd1e.json
  contracts/.pv/cache/lint/edba5cf590f9cf57.json
  contracts/.pv/cache/lint/efff28170d414f0d.json
  src/generated_contracts.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

release: simular 0.3.2 — provable-contracts 0.2, epidemic div-by-zero fix, README update (Refs STACK-003)
  .pmat/context.db
  .pmat/context.db-shm
  .pmat/context.db-wal
  .pmat/metrics/dependencies.json
  .pmat/project.toml
  .pv/lint-previous.json
  Cargo.lock
  Cargo.toml
  README.md
  examples/contract_pipeline_demo.rs
  simular/.pv/lint-previous.json
  src/demos/harmonic_oscillator.rs
  src/demos/kepler_orbit.rs
  src/domains/ml/mod.rs
  src/edd/audit.rs
  src/edd/gui_coverage.rs
  src/edd/v2.rs
  src/engine/clock.rs
  src/lib.rs
  src/orbit/heijunka.rs
  src/orbit/wasm.rs
  src/scenarios/portfolio.rs
  src/tui/tsp_app.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

chore: update TDG baseline for has_contract_coverage field
  .pmat/baseline.json
Due: none

fix: commit generated_contracts.rs for CI compatibility
  .gitignore
  .pmat/baseline.json
  src/generated_contracts.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: resolve all clippy + fmt CI failures
  .pmat/baseline.json
  Cargo.lock
  Cargo.toml
  build.rs
  examples/contract_pipeline_demo.rs
  src/cli/tests.rs
  src/edd/equation.rs
  src/edd/loader.rs
  src/edd/v2.rs
  src/engine/jidoka.rs
  src/generated_contracts.rs
  src/lib.rs
  src/orbit/units.rs
  src/scenarios/epidemic.rs
  tests/contract_traits.rs
  tests/orbit_e2e.rs
  tests/probar_demos.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: handle --help/-h flag in all subcommand parsers (Refs #34)
  .pmat/baseline.json
  src/cli/args.rs
  src/cli/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: nightly — add provable-contracts sibling checkout (Refs paiml/infra#20)
  .github/workflows/nightly.yml
Due: yaml-lint

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  edd-check: any of: examples/experiments/.*\.yaml$
  emc-validate: any of: \.emc\.yaml$
  yaml-lint: any of: \.(yaml|yml)$
  check-satd: any of: \.rs$
