Repository paiml/simular: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, edd-check, emc-validate, yaml-lint, check-satd

.pre-commit-config.yaml:

# Pre-commit hooks for EDD compliance
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: Cargo Clippy (warnings as errors)
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: Cargo Test
        entry: cargo test --lib
        language: system
        types: [rust]
        pass_filenames: false

      # EDD Compliance Hooks
      - id: edd-check
        name: EDD Compliance Check
        entry: cargo run --bin simular -- emc-check
        language: system
        files: 'examples/experiments/.*\.yaml$'
        pass_filenames: true

      - id: emc-validate
        name: EMC Schema Validation
        entry: python3 -c "import yaml; import sys; yaml.safe_load(open(sys.argv[1]))"
        language: system
        files: '\.emc\.yaml$'
        pass_filenames: true

      # YAML syntax validation
      - id: yaml-lint
        name: YAML Lint
        entry: python3 -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        types: [yaml]
        pass_filenames: true

      # Documentation checks
      - id: check-satd
        name: Check for SATD (TODO/FIXME/HACK)
        entry: bash -c 'if grep -rn "TODO\|FIXME\|HACK\|XXX" --include="*.rs" src/; then echo "SATD found! Create GitHub issues instead."; exit 1; fi'
        language: system
        types: [rust]
        pass_filenames: false

# Configuration
default_stages: [commit]
fail_fast: false

fix: correct include_str path in TspGraspDemo::from_yaml doctest
  src/demos/tsp_grasp/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

ci: add clean-room gate CI + release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: yaml-lint

ci: use @main ref for reusable workflow
  .github/workflows/ci.yml
Due: yaml-lint

ci: update release.yml — @main ref + pinned crates-io-auth-action
  .github/workflows/release.yml
Due: yaml-lint

ci: add Dependabot config for actions SHA updates
  .github/dependabot.yml
Due: yaml-lint

ci: add workflow_dispatch trigger to CI workflow
  .github/workflows/ci.yml
Due: yaml-lint

fix: remove [patch.crates-io] path overrides
  Cargo.lock
  Cargo.toml
Due: none

ci: add clean-room gate CI + release workflows
  .github/workflows/release.yml
Due: yaml-lint

ci: fix concurrency group to prevent container collisions
  .github/workflows/ci.yml
Due: yaml-lint

ci: unified CI pipeline — lint + build + test + pmat gates
  .config/nextest.toml
  .github/workflows/ci.yml
  deny.toml
  rust-toolchain.toml
Due: yaml-lint

ci: unified CI pipeline — lint + build + test + pmat gates (#16)
  .config/nextest.toml
  .github/workflows/ci.yml
  deny.toml
  rust-toolchain.toml
Due: yaml-lint

fix: remove hard-coded target-dir from cargo config
  .cargo/config.toml
Due: none

fix: update deny.toml for cargo-deny 0.19 compatibility
  deny.toml
Due: none

fix: update bytes 1.11.0 → 1.11.1 (RUSTSEC-2026-0007)
  Cargo.lock
Due: none

refactor: fix 3 pmat quality-gate violations
  src/demos/orbit_wasm_app.rs
  src/edd/v2.rs
  src/visualization/web.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

ci: update CI, release, and nightly workflows
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: yaml-lint

ci: update CI, release, and nightly workflows (#15)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: yaml-lint

ci: update CI, release, and nightly workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: yaml-lint

ci: update CI, release, and nightly workflows (#17)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: yaml-lint

ci: remove nightly binary build (cross-repo path deps)
  .github/workflows/nightly.yml
Due: yaml-lint

feat: add nightly binary release workflow (Refs PMAT-059)
  .github/workflows/nightly.yml
Due: yaml-lint

fix: epidemic model div-by-zero, NaN propagation, and cargo-mutants artifact (Refs #19)
  .pmat/baseline.json
  src/scenarios/epidemic.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd

fix: epidemic model div-by-zero, NaN propagation, and cargo-mutants artifact (Refs #19)
  src/scenarios/epidemic.rs
Due: cargo-fmt, cargo-clippy, cargo-test, check-satd
